name: trainingdevopsplan
services:
    api:
        cpu_shares: 90
        command: []
        depends_on:
            db:
                condition: service_started
                required: true
        deploy:
            resources:
                limits:
                    memory: "12444499968"
        environment:
            DATABASE_URL: postgresql://devuser:Sebastien2106@db:5432/fitness_data
        image: ghcr.io/sebastiendesalle/trainingdevopsplan-api:latest
        labels:
            icon: https://www.google.com/url?sa=t&source=web&rct=j&url=https%3A%2F%2Ffr.wikipedia.org%2Fwiki%2FIronman&ved=0CBYQjRxqFwoTCOiG-pm33pIDFQAAAAAdAAAAABAI&opi=89978449
            traefik.enable: "true"
            traefik.http.routers.api.rule: PathPrefix(`/api`)
            traefik.http.services.api.loadbalancer.server.port: "3000"
        networks:
            default: null
        restart: unless-stopped
    db:
        cpu_shares: 90
        command: []
        deploy:
            resources:
                limits:
                    memory: "12444499968"
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_USER: ${POSTGRES_USER}
        image: postgres:15
        labels:
            icon: https://www.google.com/url?sa=t&source=web&rct=j&url=https%3A%2F%2Ffr.wikipedia.org%2Fwiki%2FIronman&ved=0CBYQjRxqFwoTCOiG-pm33pIDFQAAAAAdAAAAABAI&opi=89978449
        networks:
            default: null
        restart: unless-stopped
        volumes:
            - type: bind
              source: /DATA/AppData/training-plan/postgres_data
              target: /var/lib/postgresql/data
              bind:
                create_host_path: true
    traefik:
        cpu_shares: 90
        command:
            - --providers.docker=true
            - --providers.docker.exposedbydefault=false
            - --api.insecure=true
        container_name: traefik
        deploy:
            resources:
                limits:
                    memory: "12444499968"
        hostname: traefik
        image: traefik:v3.0
        labels:
            icon: https://www.google.com/url?sa=t&source=web&rct=j&url=https%3A%2F%2Ffr.wikipedia.org%2Fwiki%2FIronman&ved=0CBYQjRxqFwoTCOiG-pm33pIDFQAAAAAdAAAAABAI&opi=89978449
        networks:
            default: null
        ports:
            - mode: ingress
              target: 80
              published: "8080"
              protocol: tcp
            - mode: ingress
              target: 8080
              published: "8081"
              protocol: tcp
        restart: unless-stopped
        volumes:
            - type: bind
              source: /var/run/docker.sock
              target: /var/run/docker.sock
              read_only: true
              bind:
                create_host_path: true
    web:
        cpu_shares: 90
        command: []
        deploy:
            resources:
                limits:
                    memory: "12444499968"
        image: ghcr.io/sebastiendesalle/trainingdevopsplan-web:latest
        labels:
            icon: https://www.google.com/url?sa=t&source=web&rct=j&url=https%3A%2F%2Ffr.wikipedia.org%2Fwiki%2FIronman&ved=0CBYQjRxqFwoTCOiG-pm33pIDFQAAAAAdAAAAABAI&opi=89978449
            traefik.enable: "true"
            traefik.http.routers.web.rule: PathPrefix(`/`)
            traefik.http.services.web.loadbalancer.server.port: "80"
        networks:
            default: null
        restart: unless-stopped
    worker:
        cpu_shares: 90
        command: []
        depends_on:
            db:
                condition: service_started
                required: true
        deploy:
            resources:
                limits:
                    memory: "12444499968"
        environment:
            DATABASE_URL: postgresql://devuser:Sebastien2106@db:5432/fitness_data
            GARMIN_PASS: ${GARMIN_PASS}
            GARMIN_USER: ${GARMIN_USER}
        image: ghcr.io/sebastiendesalle/trainingdevopsplan-worker:latest
        labels:
            icon: https://www.google.com/url?sa=t&source=web&rct=j&url=https%3A%2F%2Ffr.wikipedia.org%2Fwiki%2FIronman&ved=0CBYQjRxqFwoTCOiG-pm33pIDFQAAAAAdAAAAABAI&opi=89978449
            traefik.enable: "false"
        networks:
            default: null
        restart: unless-stopped
networks:
    default:
        name: trainingdevopsplan_default
x-casaos:
    author: self
    category: self
    hostname: sebastienbeelink
    icon: https://www.google.com/url?sa=t&source=web&rct=j&url=https%3A%2F%2Ffr.wikipedia.org%2Fwiki%2FIronman&ved=0CBYQjRxqFwoTCOiG-pm33pIDFQAAAAAdAAAAABAI&opi=89978449
    index: /
    is_uncontrolled: false
    port_map: "8080"
    scheme: http
    title:
        custom: Training plan
