.activities-table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  text-align: left;
}

.activities-table thead {
  background-color: #3a3a3a;
  color: rgba(255, 255, 255, 0.9);
}

.activities-table th, .activities-table td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #444;
}

.activities-table tbody tr:hover {
  background-color: #2f2f2f;
}

.activities-table td:last-child {
  text-align: right;
  font-weight: 500;
  color: #80cf80;
}
